listenAddress = ":9055"
debug = false

### Query sipproxyd process
sipproxydEnabled = true
# sipproxydURL = "http://127.0.0.1:9980/c5/proxy/commands?49&1&-v"

sipproxydTrunksEnabled = true
# sipproxydTrunkStatsURL = "http://127.0.0.1:9980/c5/proxy/commands?3&7&309"
# sipproxydTrunkLimitsURL = "http://127.0.0.1:9980/c5/proxy/commands?3&7&368"

sipproxydExtEnabled = true
# sipproxydSPCountersURL = "http://127.0.0.1:9980/c5/proxy/commands?4&0&spAll"`
# sipproxydClSPCountersURL ="http://127.0.0.1:9980/c5/proxy/commands?4&0&spAllCl"`

### Query acdqueued process
acdqueuedEnabled = true
# acdqueuedURL = "http://127.0.0.1:9982/c5/proxy/commands?49&1&-v"

### Query registard process
registrardEnabled = true
# registrardURL = "http://127.0.0.1:9984/c5/proxy/commands?49&1&-v"

### Query cstagwd process
cstaEnabled = true
# cstaURL = "http://127.0.0.1:9986/c5/proxy/commands?49&1&-v"

### Query notification-server process
notificationEnabled = true
# notificationURL = "http://127.0.0.1:9988/c5/proxy/commands?49&1&-v"

### 3rd party XMS
xmsEnabled = false
#xmsUser = "admin"
#xmsPwd = "admin"
#xmsCountersURL = "http://localhost:10080/resource/counters"
#xmsLicensesURL = "http://localhost:10080/resource/licenses"

### Enable monitoring of the exporter itself (go_memstats_...)
goCollectorEnabled = false
